.header {
  color: blueviolet;
}

.grid-container {
  display: inline-grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.C1R1 {
  grid-column-start: 1;
  grid-column-end: 2;

  border-style: groove;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.C2R1 {
  grid-column-start: 2;
  grid-column-end: 2;

  border-style: groove;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.C3R1 {
  grid-column-start: 3;
  grid-column-end: 3;

  border-style: groove;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}



.C1R2 {
  grid-column-start: 1;
  grid-column-end: 1;

  border-style: groove;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.C2R2 {
  grid-column-start: 2;
  grid-column-end: 2;

  border-style: groove;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.C3R2 {
  grid-column-start: 3;
  grid-column-end: 3;

  border-style: groove;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}



.C1R3 {
  grid-column-start: 1;
  grid-column-end: 1;

  border-style: groove;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.C2R3 {
  grid-column-start: 2;
  grid-column-end: 2;

  border-style: groove;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.C3R3 {
  grid-column-start: 3;
  grid-column-end: 3;

  border-style: groove;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}